<div class="container mt-4">
  <div class="row">
    <nav class="p-2 navbar navbar-expand navbar-light bg-light justify-content-between">
      <span class="navbar-brand">
        <strong><a href="#" routerLink="" class="text-decoration-none text-black">{{title}}</a></strong>
      </span>
      <span>{{ username | async }}</span>
     <span><button class="ms-2 btn btn-danger btn-sm" routerLink="" (click)="logout()">Logout</button></span>
    </nav>
   </div>
  <div class="row mt-2">
    <router-outlet></router-outlet>
  </div>
</div>